*{
    div{
       
    }
}
.main{
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.top{
    height: 90px;
    display: flex;
    margin: 10px;
}
.top1{
    flex: 1;
    display: flex;
}

.top2{
    flex: 1;
    color: white;
     
}
.top3{
    flex: 1;
    display: flex;
    border-radius: 4px;
    background-color: black;
   
}

.bar{
    border: 1px solid yellow;
    margin: 3px;
    border-radius: 8px;
    padding-left: 5px;
    height: auto;
    flex: 1;
    color: yellow;
    background-color: black;
}
.bottom{
    flex: 4;
    display: flex;
    flex-direction: column;
}
.bottomb{
    height: 300px;
   
    margin: 30px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    background: #3b3b3b;
    border-radius: 8px;
    padding-left: 10px;
}
.b1{
    height: 50px;
    text-align: left;
    margin-top: 10px;
}
.b2{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.a1{
    
    display: flex;
    
}
.a2{
    
    display: flex;
}
.a3{
    
    display: flex;
}
.a4{
    
    display: flex;
}
.b3{
    height: 50px;
     text-align: left;
}
.b4{
    flex: 1;
    display: flex;
    flex-direction: column;
    
}
.c1{
    
     display: flex;
}
.c2{
    
     display: flex;
}
.c3{
    
     display: flex;
}
img{
    width: 100%;
    height: 100%;
}




