*{
    margin: 0;
    padding: 0;
    div{
        
        background-color: black;
        color: white;
    }
}
.main{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.top{
    flex: 1;
    display: flex;
}
.tl{
    flex: 1;
    display: flex;
    gap: 3px;
}
.t1{
    flex: 1;
}
.t2{
    flex: 1;
}
.t3{
    flex: 1;
    border-radius: 3px;
    border: 1px solid yellow;
    color: yellow;
    background-color: black;
    height: auto;
}
.t4{
    flex: 1;
}

.tr{
flex: 1;
display: flex;
  gap: 5px;
}
.t5{
    flex: 1;
}
.t6{
    flex: 1;
    display: flex;
    background-color: white;
    color: grey;
   
}
.searchb{
    align-items: right; 
    height: 30px;
    width: 30px;
    margin: 2px;
    border: 1px solid black;
    
}
.t7{
    flex: 1;
    border-radius: 3px;
    border: 1px solid yellow;
    color: yellow;
    background-color: black;
    height:auto
}
.t8{
    flex: 1;
}
.middle{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.middlet{

    display: flex;
}
.middlet1{
    flex: 3;
}
.middlet2{
    flex: 1;
    display: flex;
}
.let1{
    flex: 1;
    text-align: center;
}
.let2{
    background-color: yellow;
    height: 20px;
}
.let3{
    flex: 1;
    color: yellow;
}


.middleb{
    height: 40px;
    display: flex;
    margin-right: 62px;
    gap: 4px;
}
.b1{
    flex: 1;
    border-radius: 8px;
    
    
}
.b2{
    flex: 1;
    border-radius: 8px;
}
.b3{
    flex: 1;
    border-radius: 8px;
}
.b4{
    flex: 1;
    border-radius: 8px;
}
.b5{
    flex: 1;
    border-radius: 8px;
}
.b6{
    flex: 1;
    border-radius: 8px;
}
.b7{
    flex: 1;
    border-radius: 8px;
}
.bottom{
   flex: 1;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    
}
.bottom1{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
}
.bottom1t{
    flex: 1;
    display: flex;
    background-image: url("");
    margin: 4px;
    border-radius: 10px;
    
}
.price1{

   background-color: black;
   color: yellow;
   position: absolute;
}

.bottom1b{
    
     background-color: white;
     color: black;
     border-radius: 8px;
    
}
.bottom2{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
     background-color: white;
}
.bottom2t{
    flex: 1;
    display: flex;
    background-image: url("");
    margin: 4px;
    border-radius: 10px;
}
.price2{
   position: absolute;
   background-color: black;
   color: yellow;
}

.bottom2b{
  
     background-color: white;
     color: black;
     
}
.bottom3{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
     background-color: white;
}
.bottom3t{
    flex: 1;
    margin: 4px;
    display: flex;
    border-radius: 10px;
}
.price3{
   position: absolute;
   background-color: black;
   color: yellow;
}

.bottom3b{
   
     background-color: white;
     color: black;
    
}
.bottom4{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
     background-color: white;
}
.bottom4t{
    flex: 1;
    display: flex;
    background-image: url("");
    margin: 4px;
    border-radius: 10px;
}
.price4{
   position: absolute;
   background-color: black;
   color: yellow; 
}
.bottom4b{
    
     background-color: white;
     color: black;
 
}
button{
    height: 100%;
    width: 100%;
    background-color: rgb(170, 166, 166);
    color: yellow;
    border-radius: 8px;
}
.b5 button{
    background-color: rgb(247, 183, 7);
}
.b7 button{
    background-color: black;
    border: 1px solid yellow;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bot4{
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 2px;
}
.bot1{
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 2px;
}
.bot2{
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 2px;
}
.bot3{
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 2px;
}
